html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

header {
    background: #1a1a1a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carousel {
    perspective: 1000px;
    height: 300px; /* Altura fixa para o carrossel */
    width: 100%; /* Largura do carrossel */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    overflow: hidden; /* Esconde conteúdo que excede */
}

.carousel-inner {
    display: flex;
    transition: transform 1s ease;
}

img {
    width: 400px; /* Largura fixa para as imagens */
    height: auto; /* Mantém a proporção */
    max-height: 300px; /* Limita a altura das imagens */
    border-radius: 8px;
    cursor: pointer;
}

h1 {
    font-size: 2.5em;
}

p {
    line-height: 1.6;
}

.price {
    font-size: 1.5em;
    color: #28a745;
    margin-top: 10px;
}
